.homepage,
.about-me,
.landing-screen,
.tech {
  height: 100vh;
}

.homepage {
  scroll-snap-type: y mandatory;
  overflow: auto;
}

.homepage {
  .about-me,
  .landing-screen,
  .tech {
    scroll-snap-align: start;
  }
}
