.my-projects {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url("https://images.pexels.com/photos/140945/pexels-photo-140945.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("https://images.pexels.com/photos/140945/pexels-photo-140945.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
}

.big-project-container {
  width: 80%;
  height: 80%;
  margin-top: 3rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: project-container-appear 1s forwards;
          animation: project-container-appear 1s forwards;
}

.arrow-left,
.arrow-right {
  height: 30%;
  width: 10%;
}

.arrow-left .project-card,
.arrow-right .project-card {
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, opacity 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, opacity 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}

.arrow-left .project-card img,
.arrow-right .project-card img {
  width: 90%;
  height: 70%;
  margin-bottom: -15%;
}

.arrow-left .project-card:hover,
.arrow-right .project-card:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
  -webkit-box-shadow: 3px 3px 4px black;
          box-shadow: 3px 3px 4px black;
  cursor: pointer;
}

.arrow-left .project-card:hover .project-card-inner,
.arrow-right .project-card:hover .project-card-inner {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.big-project {
  height: 80%;
  width: 40%;
  margin: 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-project .project-card h2 {
  font-size: 3vw;
  color: white;
  font-family: "Gochi Hand", cursive;
  text-shadow: 0.2vw 0.2vw 0.5vw black;
}

.slow-appear {
  -webkit-animation: project-appear 0.5s forwards;
          animation: project-appear 0.5s forwards;
}

.project-goes-right {
  -webkit-animation: projectGoesRight 0.6s linear;
          animation: projectGoesRight 0.6s linear;
}

@-webkit-keyframes projectGoesRight {
  25% {
    -webkit-transform: translate(-70px, -40px) rotate(-60deg);
            transform: translate(-70px, -40px) rotate(-60deg);
  }
  50% {
    -webkit-transform: translate(-140px, -80px) rotate(-160deg);
            transform: translate(-140px, -80px) rotate(-160deg);
  }
  75% {
    -webkit-transform: translate(-210px, -40px) rotate(-260deg);
            transform: translate(-210px, -40px) rotate(-260deg);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-280px, 0px) rotate(-360deg);
            transform: translate(-280px, 0px) rotate(-360deg);
  }
}

@keyframes projectGoesRight {
  25% {
    -webkit-transform: translate(-70px, -40px) rotate(-60deg);
            transform: translate(-70px, -40px) rotate(-60deg);
  }
  50% {
    -webkit-transform: translate(-140px, -80px) rotate(-160deg);
            transform: translate(-140px, -80px) rotate(-160deg);
  }
  75% {
    -webkit-transform: translate(-210px, -40px) rotate(-260deg);
            transform: translate(-210px, -40px) rotate(-260deg);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-280px, 0px) rotate(-360deg);
            transform: translate(-280px, 0px) rotate(-360deg);
  }
}

.project-goes-left {
  -webkit-animation: projectGoesLeft 0.6s linear;
          animation: projectGoesLeft 0.6s linear;
}

@-webkit-keyframes projectGoesLeft {
  25% {
    -webkit-transform: translate(70px, -40px) rotate(60deg);
            transform: translate(70px, -40px) rotate(60deg);
  }
  50% {
    -webkit-transform: translate(140px, -80px) rotate(160deg);
            transform: translate(140px, -80px) rotate(160deg);
  }
  75% {
    -webkit-transform: translate(210px, -40px) rotate(260deg);
            transform: translate(210px, -40px) rotate(260deg);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(280px, 0px) rotate(360deg);
            transform: translate(280px, 0px) rotate(360deg);
  }
}

@keyframes projectGoesLeft {
  25% {
    -webkit-transform: translate(70px, -40px) rotate(60deg);
            transform: translate(70px, -40px) rotate(60deg);
  }
  50% {
    -webkit-transform: translate(140px, -80px) rotate(160deg);
            transform: translate(140px, -80px) rotate(160deg);
  }
  75% {
    -webkit-transform: translate(210px, -40px) rotate(260deg);
            transform: translate(210px, -40px) rotate(260deg);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(280px, 0px) rotate(360deg);
            transform: translate(280px, 0px) rotate(360deg);
  }
}

@-webkit-keyframes project-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes project-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes project-container-appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  to {
    opacity: 1;
  }
}

@keyframes project-container-appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=myProjects.css.map */