.my-projects {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
}

.big-project-container {
  width: 80%;
  height: 80%;
  margin-top: 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: project-appear 1s forwards 0.5s;
}

.arrow-left,
.arrow-right {
  height: 30%;
  width: 10%;
  margin-top: 20%;
  & .project-card {
    box-shadow: none;
    opacity: 0.5;
    transition: box-shadow 0.3s, transform 0.3s, opacity 0.3s;
    & img {
      width: 90%;
      height: 60%;
    }
    &:hover {
      transform: scale(1.5);
      opacity: 1;
      box-shadow: 3px 3px 4px black;
      cursor: pointer;
    }
  }
}

.big-project {
  height: 80%;
  width: 40%;
  margin: -5% 15% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  & .project-card h2 {
    font-size: 3vw;
    color: black;
    font-family: "Gochi Hand", cursive;
  }
}

.slow-appear {
  animation: project-appear 0.5s forwards;
}

.project-goes-right {
  animation: projectGoesRight 0.5s linear;
}
@keyframes projectGoesRight {
  to {
    transform: translate(-350px, -130px);
    opacity: 0;
    height: 70%;
    width: 30%;
  }
}

@keyframes project-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
