.my-projects {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("https://images.pexels.com/photos/140945/pexels-photo-140945.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover; */
}

.big-project-container {
  width: 80%;
  height: 80%;
  margin-top: 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  animation: project-container-appear .5s forwards;
}

.project-left {
  .rotation {
    animation: project-container-appear .5s forwards 0.5s;}
}
.project-right {
  .rotation {
    animation: project-container-appear .5s forwards 1s;}
}

.project-left,
.project-right {
  height: 30%;
  width: 10%;
  & .rotation {
    height: 100%;
    width: 100%;
    opacity: 0;
    & .project-card {
      box-shadow: none;
      opacity: 0.8;
      transition: box-shadow 0.3s, transform 0.3s, opacity 0.3s;
      & .project-card-img {
        width: 80%;
        height: 60%;
        margin-top: 15%;
        border-radius: 50px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        transform: scale(1.5);
        opacity: 1;
        box-shadow: 3px 3px 4px black;
        cursor: pointer;
        & .project-card-inner {
          transform: rotateY(0deg);
        }
      }
    }
  }
}

.big-project {
  height: 80%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  & .rotation {
    height: 100%;
    width: 100%;
    & .project-card-img {
      width: 60%;
      height: 60%;
      margin-bottom: -15%;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    & .project-card h2 {
      font-size: 3vw;
      @include text-main;
    }
  }
}

.moncarnet {
  .project-card h2 {
    margin-bottom: -5%;
  }
  .project-card-img {
    border-radius: 0px !important;
    margin-bottom: -20% !important;
    img {
      height: 85% !important;
      width: 85% !important;
    }}
}

.slow-appear {
  animation: project-appear 0.5s forwards;
}

.project-goes-right {
  animation: projectGoesRight 0.6s linear;
}
@keyframes projectGoesRight {
  25% {
    transform: translate(-40%, -24%) rotate(-60deg);
  }
  50% {
    transform: translate(-100%, -40%) rotate(-160deg);
  }
  75% {
    transform: translate(-170%, -24%) rotate(-260deg);
  }
  to {
    opacity: 0;
    transform: translate(-250%, 0px) rotate(-360deg);
  }
}
.project-goes-left {
  animation: projectGoesLeft 0.6s linear;
}
@keyframes projectGoesLeft {
  25% {
    transform: translate(40%, -24%) rotate(60deg);
  }
  50% {
    transform: translate(100%, -40%) rotate(160deg);
  }
  75% {
    transform: translate(170%, -24%) rotate(260deg);
  }
  to {
    opacity: 0;
    transform: translate(250%, 0px) rotate(360deg);
  }
}

@keyframes project-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes project-container-appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  to {
    opacity: 1;
  }
}


/* Portrait */
@media screen and (max-width: 1370px) and (orientation:portrait) { 
  .my-projects {
    .big-project-container {
      width: 95%;
      height: 70%;
      margin-top: 30%;
      flex-wrap: wrap;
      .big-project {
        order: -1;
        min-width: 60%;
        max-width: 96%;
        height: 48%;
      }
      .project-left, .project-right {
        width: 48%;
        height: 42%;
        & .project-card {
          opacity: 0.8;  
          &:hover {
            transform: scale(1);
            box-shadow: none;
            opacity: 0.8;
          }
        }
      }
    }
  }
  .project-goes-right, .project-goes-left {
    animation: move-up-from-right 0.6s linear;
  }
  @keyframes move-up-from-right {
    to {
      opacity: 0;
      transform: translate(-100px, -250px) rotate(360deg);
    }
  }
  .project-goes-left {
    animation: move-up-from-left 0.6s linear;
  }
  @keyframes move-up-from-left {
    to {
      opacity: 0;
      transform: translate(100px, -250px) rotate(-360deg);
    }
  }
 }

/* Landscape */
@media screen and (max-width: 1370px) and (orientation:landscape) { 
  a .project-card h2 {
    font-size: 1.5em;
  }
 }

@media screen and (max-width: 1320px) {
  .turn {
    transform: rotateY(180deg);
  }
}