// Navigation Parts

.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-secondary-grey;
    height: $burgerSize;
    width: $burgerSize;
    position: fixed;
    top: $burgerPosition;
    right: $burgerPosition;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: $burgerBackgroundSize;
    width: $burgerBackgroundSize;
    border-radius: 50%;
    position: fixed;
    top: $burgerBackgroundPos;
    right: $burgerBackgroundPos;
    background-image: radial-gradient($color-primary-blue, $color-white);
    z-index: 1000;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  }


  &__nav {
    height: 0vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

    &__list {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 100%;
    height: 70% !important;
    padding: 0 !important;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__item {
    height: 15% !important;
    margin: 2vmin 0;
  }
  &__link {
    &:link,
    &:visited {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      padding: 0 20vmin;
      color: $color-white;
      text-decoration: none;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 220%;
      transition: all .4s;
      }

      &:hover,
      &:active {
        background-position: 100%;
        color: $color-primary-blue;
        transform: translateX(1rem);
      }
    &__active {
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $color-primary-dark;
        text-decoration: none;
        padding: 0 20vmin;
        background-color: $color-white;
        transition: all .4s;
    }
  }
  &__flags-container {
    height: 10vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & div {
        height: 100%;
        padding: 0 2vmin;
        & img {
            height: 100%;
        }
    }
  }
  

  // Functionnality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    height: 100vh;
  }

  &__icon {
    position: relative;
    margin-top: 7.2vmin; // default 3.5rem

    &,
    &::before,
    &::after {
        width: 9vmin; // default 3rem
        height: 2px; // default 3px
        background-color: $color-primary-dark;
        display: inline-block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
    }

    &::before { top: .5rem; }
    &::after { top: -.5rem; }
  }

  &__button:hover &__icon::before {
      top: -1rem;
    }

  &__button:hover &__icon::after {
      top: 1rem;
    }

  &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

  &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

  &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
  }
}

@media all and (min-width: 1320px) { 
    .navigation * {
        display: none !important;
    }
}
