.header {
  height: 5vw;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 2;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2vw;
    li {
      height: 50%;
      font-family: "Gochi Hand", cursive;
      display: flex;
      align-items: center;
      font-size: 2vw;
      .nav-link {
        @include link;
      }
      .activeLink {
        @include link ($color: rgb(77, 60, 81), $textShadow: 1px 1px 1px rgb(255, 255, 255), $scale: 1, $cursor: default, $anim: bgAppear 1s forwards);
      }
      & .flags-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          transform: scale(1);
        }
        & div {
          width: 80%;
          height: 80%;
          margin: 0 0.1vw;
          transition: transform 0.3s;
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
          & img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { }

@media all and (max-width: 1320px) {
  .menu * {
    display: none;
  }
 }


/* Portrait */
@media screen and (orientation:portrait) { 
  
 }

/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
