.tech-container {
  position: relative;
  width: 11vw;
  height: 11.2vw;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  margin: 0.25rem;
  opacity: 0;
}

.tech-container a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech-container a img {
  display: block;
  width: 6vw;
  max-height: 80%;
  opacity: 1;
  -webkit-transition: opacity 2s, height 2s, -webkit-transform 0.5s;
  transition: opacity 2s, height 2s, -webkit-transform 0.5s;
  transition: opacity 2s, height 2s, transform 0.5s;
  transition: opacity 2s, height 2s, transform 0.5s, -webkit-transform 0.5s;
}

.tech-container a .logo-card-infos {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 1s ease-in, -webkit-transform 0.8s;
  transition: opacity 1s ease-in, -webkit-transform 0.8s;
  transition: opacity 1s ease-in, transform 0.8s;
  transition: opacity 1s ease-in, transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.tech-container a .logo-card-infos h4 {
  font-family: "Gochi Hand", cursive;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  position: absolute;
  top: 10%;
  height: 15%;
  max-height: 15%;
  padding: 2px;
}

.tech-container a .logo-card-infos p {
  color: black;
  position: absolute;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 80%;
  font-size: 0.9rem;
  text-overflow: auto;
  text-align: center;
  -webkit-text-stroke-width: thin;
}

.tech-container:hover {
  overflow: hidden;
  cursor: pointer;
}

.tech-container:hover .logo-card-infos {
  opacity: 1;
  height: 96%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: opacity 0.6s ease-in, height 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s ease-in, height 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s ease-in, transform 0.6s, height 0.6s;
  transition: opacity 0.6s ease-in, transform 0.6s, height 0.6s, -webkit-transform 0.6s;
}

.tech-container:hover img {
  /* animation: moveUpDisappear 0.8s forwards; */
  opacity: 0;
  height: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  overflow: hidden;
  -webkit-transition: opacity 0.6s ease-in, height 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s ease-in, height 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s ease-in, transform 0.6s, height 0.6s;
  transition: opacity 0.6s ease-in, transform 0.6s, height 0.6s, -webkit-transform 0.6s;
}

@-webkit-keyframes moveUpDisappear {
  to {
    display: none;
  }
}

@keyframes moveUpDisappear {
  to {
    display: none;
  }
}

@-webkit-keyframes moveUpAppear {
  to {
    opacity: 1;
  }
}

@keyframes moveUpAppear {
  to {
    opacity: 1;
  }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

                                                    MEDIA QUERIES

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 450px) {
  .tech-container {
    width: 25vw;
    height: 27vw;
  }
  .tech-container a img {
    width: 15vw;
  }
}

@media screen and (min-width: 1440px) {
  .tech-container {
    width: 12vw;
  }
  .tech-container a img {
    width: 9vw;
  }
}

@media screen and (min-width: 2000px) {
  .tech-container {
    height: 14vw;
  }
  .tech-container a img {
    width: 9vw;
  }
}
/*# sourceMappingURL=logoCard.css.map */