.tech-container {
  position: relative;
  width: 11vw;
  height: 11.2vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  margin: 0.25rem;
  opacity: 0;
  & a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:visited .logo-card-infos p {
      text-decoration: none;
      color: #000;
    }
    & img {
      display: block;
      width: 7vw;
      height: 7vw;
      max-height: 80%;
      opacity: 1;
      transition: opacity 2s, height 2s, transform 0.5s;
    }
    & .logo-card-infos {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 1s ease-in, transform 0.8s;
      transform: rotateX(-90deg);
      & h4 {
        font-family: "Gochi Hand", cursive;
        color: black;
        font-weight: 600;
        font-size: 1.1em;
        height: 15%;
        padding: 2px;
      }
      & p {
        color: black;
        display: flex;
        align-items: center;
        font-size: 1em;
        text-overflow: auto;
        text-align: center;
      }
    }
  }
  &:hover {
    overflow: hidden;
    cursor: pointer;
    & .logo-card-infos {
      opacity: 1;
      height: 96%;
      transform: rotateX(0deg);
      transition: all 0.6s;
    }
    & img {
      /* animation: moveUpDisappear 0.8s forwards; */
      opacity: 0;
      height: 0;
      transform: rotateX(90deg);
      overflow: hidden;
      transition: all 0.6s;
    }
  }
}

@keyframes moveUpDisappear {
  to {
    display: none;
  }
}

@keyframes moveUpAppear {
  to {
    opacity: 1;
  }
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

                                                    MEDIA QUERIES

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1370px) {
  .tech-container {
    width: 21vmin;
    height: 22vmin;
    & a {
      &:hover {
        & .logo-card-infos {
          opacity: 0;
          height: 0;
          transform: rotateX(-90deg);
        }
        & img {
          transform: rotateX(0deg);
          opacity: 1;
          height: 60%;
          width: 60%;
        }
      }
      & img {
        width: 60%;
        height: 60%;
      }
    }
  }
}
@media screen and (max-width: 1370px) and (orientation: portrait) {
  .tech-container {
    margin: 2% 1%;
    & .logo-card-infos {
        justify-content: space-evenly !important;
        h4 {
          font-size: 80% !important;
          margin-top: -15%;
        }
        p {
          margin-bottom: -15%;
        }
    }
  }
}

@media screen and (max-width: 450px) {
  .tech-container {
    width: 30vmin;
    height: 25vmin;
    & a {
      & img {
        width: 60%;
        height: 60%;
      }
    }
  }
}

@media screen and (min-width: 2000px) {
  .tech-container {
    height: 14vw;
    & a {
      & img {
        width: 9vw;
      }
    }
  }
}
