.App {
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100vw;
}

.update {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  text-shadow: 1px 1px black;
  z-index: 3;
}
