@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

.about-me {
  font-family: "Gochi Hand", cursive;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("https://images.pexels.com/photos/6775290/pexels-photo-6775290.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}

.about-me-title {
  height: 35%;
  h1 {
    font-size: 400%;
    margin-top: 10%;
    color: white;
    text-shadow: 0.5vw 0.5vw 1vw black;
  }
}

.sections {
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
