
  /* ================================================================================================== 
                                        Background animation AUSTRALIA
====================================================================================================*/

@keyframes bgSlideAU {
    // image 1
    from {
      background-image: $operaHouse;
    }
    8% {
      background-image: $operaHouse;
    }
    // image 2
    16% {
      background-image: $childcare;
    }
    29% {
      background-image: $childcare;
    }
    // image 3
    37% {
      background-image: $store;
    }
    58% {
      background-image: $store;
    }
    // image 4
    66% {
      background-image: $koala;
    }
    83% {
      background-image: $koala;
    }
    // image 1
    91% {
      background-image: $operaHouse;
    }
    to {
      background-image: $operaHouse;
    }
  }

/* ================================================================================================== 
                                        Background animation USA
====================================================================================================*/

@keyframes bgSlideUS {
    // image 1
    from {
      background-image: $seattle;
    }
    8% {
      background-image: $seattle;
    }
    // image 2
    16% {
      background-image: $goldenGate;
    }
    29% {
      background-image: $goldenGate;
    }
    // image 3
    37% {
      background-image: $aupair;
    }
    58% {
      background-image: $aupair;
    }
    // image 4
    66% {
      background-image: $baseball;
    }
    83% {
      background-image: $baseball;
    }
    // image 1
    91% {
      background-image: $seattle;
    }
    to {
      background-image: $seattle;
    }
  }
  
    /* ================================================================================================== 
                                        Background animation SPORT
====================================================================================================*/

@keyframes bgSlideSport {
    // image 1
    from {
      background-image: $marathon;
    }
    8% {
      background-image: $marathon;
    }
    // image 2
    16% {
      background-image: $spartan;
    }
    29% {
      background-image: $spartan;
    }
    // image 3
    37% {
      background-image: $cycling;
    }
    58% {
      background-image: $cycling;
    }
    // image 4
    66% {
      background-image: $track;
    }
    83% {
      background-image: $track;
    }
    // image 1
    91% {
      background-image: $marathon;
    }
    to {
      background-image: $marathon;
    }
  }

    /* ================================================================================================== 
                                        Background animation HOBBIES
====================================================================================================*/

@keyframes bgSlideHobbies {
    // image 1
    from {
      background-image: $bass;
    }
    8% {
      background-image: $bass;
    }
    // image 2
    16% {
      background-image: $ironMan;
    }
    29% {
      background-image: $ironMan;
    }
    // image 3
    37% {
      background-image: $bouldering;
    }
    58% {
      background-image: $bouldering;
    }
    // image 4
    66% {
      background-image: $hobbiton;
    }
    83% {
      background-image: $hobbiton;
    }
    // image 1
    91% {
      background-image: $bass;
    }
    to {
      background-image: $bass;
    }
  }
