
  /* ================================================================================================== 
                                        Background animation AUSTRALIA
====================================================================================================*/

@keyframes bgSlideAU {
    // image 1
    from {
      background-image: url("https://images.pexels.com/photos/2434267/pexels-photo-2434267.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    }
    8% {
      background-image: url("https://images.pexels.com/photos/2434267/pexels-photo-2434267.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    }
    // image 2
    16% {
      background-image: url("https://images.pexels.com/photos/3895388/pexels-photo-3895388.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    29% {
      background-image: url("https://images.pexels.com/photos/3895388/pexels-photo-3895388.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    // image 3
    37% {
      background-image: url("https://images.pexels.com/photos/7248214/pexels-photo-7248214.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    58% {
      background-image: url("https://images.pexels.com/photos/7248214/pexels-photo-7248214.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    // image 4
    66% {
      background-image: url("https://images.pexels.com/photos/8858273/pexels-photo-8858273.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    83% {
      background-image: url("https://images.pexels.com/photos/8858273/pexels-photo-8858273.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    // image 1
    91% {
      background-image: url("https://images.pexels.com/photos/2434267/pexels-photo-2434267.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    }
    to {
      background-image: url("https://images.pexels.com/photos/2434267/pexels-photo-2434267.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    }
  }

/* ================================================================================================== 
                                        Background animation USA
====================================================================================================*/

@keyframes bgSlideUS {
    // image 1
    from {
      background-image: url("https://images.pexels.com/photos/4319881/pexels-photo-4319881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    8% {
      background-image: url("https://images.pexels.com/photos/4319881/pexels-photo-4319881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    // image 2
    16% {
      background-image: url("https://images.pexels.com/photos/4253831/pexels-photo-4253831.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    }
    29% {
      background-image: url("https://images.pexels.com/photos/4253831/pexels-photo-4253831.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    }
    // image 3
    37% {
      background-image: url("https://images.pexels.com/photos/1796730/pexels-photo-1796730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750");
    }
    58% {
      background-image: url("https://images.pexels.com/photos/1796730/pexels-photo-1796730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750");
    }
    // image 4
    66% {
      background-image: url("https://images.pexels.com/photos/1486222/pexels-photo-1486222.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    83% {
      background-image: url("https://images.pexels.com/photos/1486222/pexels-photo-1486222.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    // image 4
    91% {
      background-image: url("https://images.pexels.com/photos/4319881/pexels-photo-4319881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    to {
      background-image: url("https://images.pexels.com/photos/4319881/pexels-photo-4319881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
  }
  
    /* ================================================================================================== 
                                        Background animation SPORT
====================================================================================================*/

@keyframes bgSlideSport {
    // image 1
    from {
      background-image: url("https://images.pexels.com/photos/163444/sport-treadmill-tor-route-163444.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    }
    8% {
      background-image: url("https://images.pexels.com/photos/163444/sport-treadmill-tor-route-163444.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    }
    // image 2
    16% {
      background-image: url("https://cdn.pixabay.com/photo/2019/09/18/06/58/speed-4485598_960_720.jpg");
    }
    29% {
      background-image: url("https://cdn.pixabay.com/photo/2019/09/18/06/58/speed-4485598_960_720.jpg");
    }
    // image 3
    37% {
      background-image: url("https://images.unsplash.com/photo-1522866348293-55be2c6caa1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    }
    58% {
      background-image: url("https://images.unsplash.com/photo-1522866348293-55be2c6caa1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    }
    // image 4
    66% {
      background-image: url("https://images.unsplash.com/photo-1613936360976-8f35cf0e5461?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    }
    83% {
      background-image: url("https://images.unsplash.com/photo-1613936360976-8f35cf0e5461?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    }
    // image 1
    91% {
      background-image: url("https://images.pexels.com/photos/163444/sport-treadmill-tor-route-163444.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    }
    to {
      background-image: url("https://images.pexels.com/photos/163444/sport-treadmill-tor-route-163444.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    }
  }

    /* ================================================================================================== 
                                        Background animation HOBBIES
====================================================================================================*/

@keyframes bgSlideHobbies {
    // image 1
    from {
      background-image: url("https://images.pexels.com/photos/5384037/pexels-photo-5384037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    8% {
      background-image: url("https://images.pexels.com/photos/5384037/pexels-photo-5384037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    // image 2
    16% {
      background-image: url("https://images.pexels.com/photos/5650704/pexels-photo-5650704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
    29% {
      background-image: url("https://images.pexels.com/photos/5650704/pexels-photo-5650704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
    // image 3
    37% {
      background-image: url("https://cdn.pixabay.com/photo/2017/08/14/12/10/hobbiton-2640294_960_720.jpg");
    }
    58% {
      background-image: url("https://cdn.pixabay.com/photo/2017/08/14/12/10/hobbiton-2640294_960_720.jpg");
    }
    // image 4
    66% {
      background-image: url("https://images.unsplash.com/photo-1635863138275-d9b33299680b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80");
    }
    83% {
      background-image: url("https://images.unsplash.com/photo-1635863138275-d9b33299680b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80");
    }
    // image 1
    91% {
      background-image: url("https://images.pexels.com/photos/5384037/pexels-photo-5384037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    to {
      background-image: url("https://images.pexels.com/photos/5384037/pexels-photo-5384037.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
  }
