@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
.landing-screen {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.1))), url("https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)), url("https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 80vw;
  font-family: "Gochi Hand", cursive;
  font-size: 5vw;
  text-shadow: black 5px 5px 5px;
  color: white;
}

.div-name {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 6 / 2;
  -webkit-animation: fromLeft 2s forwards 1s;
          animation: fromLeft 2s forwards 1s;
  opacity: 0;
}

.div-dev {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 5 / 3 / 6 / 4;
  -webkit-animation: fromRight 2s forwards 1s;
          animation: fromRight 2s forwards 1s;
  opacity: 0;
}

.div-lottie {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 8 / 3;
  -webkit-animation: fromBottom 0.5s forwards 0.5s;
          animation: fromBottom 0.5s forwards 0.5s;
  opacity: 0;
}

.links {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 9 / 2 / 10 / 3;
  -webkit-animation: fromBottom 0.8s forwards 1.5s;
          animation: fromBottom 0.8s forwards 1.5s;
  opacity: 0;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links a {
  width: 6rem;
}

.links a img {
  height: 100%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  opacity: 0.5;
}

.links a img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

@-webkit-keyframes fromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes fromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes fromBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(360deg);
            transform: translateY(0px) rotate(360deg);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(360deg);
            transform: translateY(0px) rotate(360deg);
  }
}
/*# sourceMappingURL=landingScreen.css.map */