@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
.landing-screen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  overflow: hidden;
}

.container {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 50%;
  width: 100vw;
  color: white;
  margin-right: -12vw;
}

.div-name {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 4 / 2 / 5 / 4;
  font-size: 5vw;
  font-family: "Gochi Hand", cursive;
  text-shadow: black 5px 5px 5px;
  -webkit-animation: fromLeft 1s forwards 0.2s linear;
          animation: fromLeft 1s forwards 0.2s linear;
  opacity: 0;
}

.div-dev {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 5 / 2 / 6 / 4;
  font-size: 2vw;
  text-shadow: black 2px 2px 2px;
  -webkit-animation: fromRight 1s forwards 1s linear;
          animation: fromRight 1s forwards 1s linear;
  opacity: 0;
}

.links {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 7 / 2 / 8 / 4;
  -webkit-animation: appear 1s forwards 1.8s linear;
          animation: appear 1s forwards 1.8s linear;
  opacity: 0;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links a {
  width: 6vw;
}

.links a img {
  height: 100%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  opacity: 0.5;
}

.links a img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

@-webkit-keyframes fromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(10vw);
            transform: translateX(10vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=landingScreen.css.map */