a {
  height: 100%;
  width: 100%;
  & .project-card {
    border-radius: 2vw;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    &:hover .project-card-inner {
      transform: rotateY(180deg);
    }
    & img {
      width: auto;
      height: 80%;
    }
    & h2 {
      width: 100%;
      height: 30%;
      font-size: 0.8rem;
      @include text-main;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & .project-card-inner {
      height: 100%;
      width: 100%;
      position: relative;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      & .project-card-front,
      .project-card-back {
        box-shadow: 0 0 10px black;
        border-radius: 2vw;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: linear-gradient(
            180deg,
            #fff,
            rgb(94, 94, 94)
          );
        background-size: cover;
      }
      & .project-card-front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 2% 2% 0;
      }
      & .project-card-back {
        transform: rotateY(180deg);
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        & h2 {
          @include text-main;
          font-size: 1.5em;
          height: 20%;
        }
        & .stats-tech {
          max-height: 40%;
          width: 95%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
          padding: 0 0 10px 0;
          & img {
            max-height: 8vmin;
            padding: 5px;
          }
          & img:nth-child(1) {
          animation: iconMoving 0.3s 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
          }
          & img:nth-child(2) {
          animation: iconMoving 0.3s 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
          }
          & img:nth-child(3) {
          animation: iconMoving 0.3s 0s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
          }
          & img:nth-child(4) {
          animation: iconMoving 0.3s 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
          }
          & img:nth-child(5) {
          animation: iconMoving 0.3s 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
          }
          & img:nth-child(6) {
          animation: iconMoving 0.3s 0s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
          }
          & img:nth-child(7) {
          animation: iconMoving 0.3s 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
          }
          & img:nth-child(8) {
          animation: iconMoving 0.3s 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
          }
          & img:nth-child(9) {
          animation: iconMoving 0.3s 0s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
          }
          & img:nth-child(10) {
          animation: iconMoving 0.3s 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
          }
        }
        & .card-back-stats {
          width: 100%;
          height: 30%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          & div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 1px 1px 3px black;
            border-radius: 10px;
            margin: 0 10px;
            width: 30%;
            height: 80%;
            & img {
              width: 50px;
              height: 50px;
              padding-bottom: 10px;
            }
            & span {
              color: black;
            }
          }
        }
        & p {
          color: white;
          text-shadow: 1px 1px 1px black;
          line-height: 1.1em;
        }
        & .project-button {
          display: none;
        }
      }
    }
  }
}

@keyframes iconMoving {
  100%{
    transform: translateY(-7px);
  }
}

@media screen and (max-width: 1320px) {
  .project-card {
    .project-card-back {
      h2 {
        font-size: 25%;
        height: 20%;
      }
      .stats-tech {
        max-height: none !important;
        img {
          height: 8vmin !important;
        }
      }
      .card-back-stats {
        width: 100%;
        height: 20% !important;
        margin-bottom: 5%;
        div {
          margin: 0 5% !important;
          padding: 0 1%;
          width: 30% !important;
          height: 100% !important;
          img {
            width: 50% !important;
            height: 50% !important;
            padding-bottom: 10% !important;
          }
          span {
            font-size: 40%;
          }
        }
      }
      p {
        line-height: 1em !important;
        font-size: 60% !important;
      }
      .project-button {
        display: inline-block !important;
        height: min-content;
        width: auto;
        padding: 2% 8%;
        margin-top: 7%;
        margin-bottom: 4%;
        color: #000;
        font-size: 70%;
        box-shadow: 1px 1px 1px #000;
        border-radius: 15px;
        border: #fff solid 1px;
        text-decoration: none;
        background: linear-gradient(
          135deg,
          rgb(255, 255, 255),
          rgb(230, 230, 230)
        );;
      }
    }
  }
}
